.content{
    width: 50%;
}

.slider{
    position: relative;
    width: 400px;
    overflow: hidden;
    margin-left: auto;
}

.slides{
    display: flex;
}

.slide{
    min-width: 100%;
    display: flex;
    justify-content: flex-end;
}

.prev,
.next{

    position: absolute;

    top: 50%;

    transform: translateY(-50%);

    font-size: 24px;

    cursor: pointer;
}

.prev{
    left:10px;
}

.next{
    right:10px;
}

.dots{

    display:flex;

    width: 400px;
    margin: 5px 0 0 auto;
    justify-content:center;

    gap:10px;
}

.dot{

    width:15px;

    height:15px;

    border-radius:50%;

    background:#bbb;

    cursor:pointer;
}

.dot.active{
    background:#000;
}

img{
    width: 400px;
    height: 300px;
}

.slide img{
    display: block;
    width: 100%;
    height: auto;
    margin: 5px 0 5px auto;
}